#heading{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    background-color: aquamarine;
    color: rgb(241, 77, 77);
    text-shadow: -1px -1px 0 black,
        -1px 1px 0 black,
        1px -1px 0 black,
        1px 1px 0 black;
}   

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    margin-top: 10vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 9vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset{
    padding: .7rem;
    font: 1rem;
    color: white;
    background-color: #191913;
    border-radius: .8rem ;
    border: none;
}
#new-btn{
    padding: .7rem;
    font: 1rem;
    color: white;
    background-color: #191913;
    border-radius: .8rem ;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}